<% include header%>
<style>
div.item {
    position: relative;
    width: 220px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 25px;
    display: inline-block;
}
div.encabezado{
    color:white;
}
p{
    font-size: 20px;
    color:white;
}
div img{
    width: 60%;
}
body{
    background: url("/recursos/fondo2.jpg");
}
</style>

<form method="post" role= "from">
<div class="encabezado">
<h2>
    Clases de Zombies  
</h2>
<p>Los infectados, también conocidos como Zombis, Caminantes, son los infectados que enfrentan con mayor frecuencia 
los supervivientes, y también los más fácil de derrotar. Su fuerza radica en su aplastante superioridad numérica, 
a muchos infectados comúnmente se les suelen ser referidos como "la horda". </p>
</div>

<form method="post" role= "from">
<div class="item">
<p><strong> Zombie Bommer</strong></p>
<img src="/recursos/z_explosivo.jpg"/>    
<p>Infectado obeso que puede lanzar su bilis sobre los supervivientes. Esta sustancia actúa como feromona que atrae 
una gran cantidad de infectados hacia el superviviente impactado.</p>
</div>

<div class="item">
<p><strong> Zombie Smoker</strong></p>
<img src="/recursos/z_smoker.jpg"/>
<p> Infectado alto y delgado que atrapa con su lengua a los supervivientes, provocando que la víctima se aleje 
del grupo y pudiendo llegar a asfixiarla. Cuando muere, deja una espesa cortina de humo que distorsiona la visión y 
que provoque que los supervivientes se pongan a toser, surgiendo así su nombre. </p>    
</div>

<div class="item">
<p><strong> Zombie Hunter</strong></p>
<img src="/recursos/z_hunter.jpg"/>
<p> Infectado muy rápido y ágil que puede atacar y dañar severamente a un superviviente, ya que al embestirlo lo 
deja indefenso. Es capaz de saltar desde un edificio sin hacerse daño. </p>    
</div>

<div class="item">
<p><strong> Zombie Tank</strong></p>
<img src="/recursos/z_tank.jpg"/>    
<p> Infectado monstruoso con una gran masa muscular y resistencia. Puede agarrar cosas pesadas 
(como rocas, vehículos livianos) y tirarlos a los supervivientes. También puede lanzar tanto a infectados como 
a los supervivientes por los aires, haciéndoles mucho daño. </p>
</div>

<div class="item">
<p><strong> Zombie Charger</strong></p>
<img src="/recursos/z_charger.jpg"/>    
<p> Infectado deforme que posee un robusto y gigantesco brazo, cuyo tamaño es inversamente proporcional al otro, que 
es muy pequeño. Es capaz de correr a gran velocidad hacia uno de los supervivientes y arrastrarlo hasta topar con un 
lugar.</p>
</div>

</form>
<% include footer %>